<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout (~{::body},'vets')}" xmlns:th="https://www.thymeleaf.org">

<body>

<h2>Vets</h2>

<table class="table table-striped" id="vets">
    <thead>
    <tr>
        <th style="width: 150px">Id</th>
        <th style="width: 250px">First Name</th>
        <th style="width: 250px">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">error</td>
        <td th:text="${vet.firstName}">error</td>
        <td th:text="${vet.lastName}">error</td>
    </tr>
    </tbody>
</table>
</body>
</html>